* {
	margin:0;
	padding:0;
}
body {
	/*background: linear-gradient(to left,rgba(224, 235, 235, 0.7),rgba(135, 44, 135, 0.7));*/
	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(../images/contactimg.jpg);
	background-size: cover;
	font-family: sans-serif;
	color: white;
}
header{
		position:relative;
		max-width: 1300px;
		margin: 0px auto;
		padding: 2px;
		background:black;
		box-sizing: border-box;
		border-radius:4px;
		box-shadow:0 2px 5px rgba(0,0,0,0.2);
		opacity: .9;
	}
.logo{
		color:white;
		height:60px;
		font-size:20px;
		padding:0 20px;
		text-align: center;
		box-sizing: border-box;
		text-decoration:none;
		font-style:italic;
		font-family:cursive;
		font-weight:bold;
	}
nav{
	float:right;
	}
.clearfix{
	clear:both;
	}
nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	}
nav ul li{
	list-style:none;
	position:relative;}
nav ul li a{
	display:block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration:none;
	color:white;
	}
nav ul li a:hover{
	background-color: gray;
	transition:0.5s;
	}
nav ul li ul{position:absolute; left:0; background:black;display:none;}
nav ul li:hover ul{display:block;}
	
nav ul li ul li{
	width:80px;
	font-size: 15px;
	display:block;
	}
nav ul li:hover ul li{
		display: block;
	}
.main{
	color:black;
	position: absolute;
	width:70%;
	margin:60px auto;
	margin-left:15%;
	background-color: #ecd6c6;
	border: 1px solid white;
	border-radius: 15px;
	height: 400px;
}
.main .left{
	width:50%;
	margin:auto;
	height: 400px;
	float:left;
}
.main form{
	width:60%;
	margin: auto;
	margin-right:18%;
}
form input,textarea{
	width:90%;
	margin:auto;
	padding:4%;
	border:none;
	outline:none;
	box-sizing: border-box;
	border-bottom: 2px solid black;
}
button{ 
    background-color: #9a329a; 
    border-color: transparent;
	color: #ffffff;
    cursor: pointer;
	font-size:20px;
	font-weight:bold;
	letter-spacing:2px;
	width:90%;
} 
    /* set a hover effect for the button*/ 
      
button:hover { 
        opacity: 0.8; 
    }
.main .right{
	width:50%;
	margin:auto;
	height: 400px;
	float:right;
	background:url(../images/right.jpg);
	border-radius:0 15px 15px 0;
}
.title{
	width:100%;
	margin:auto;
}
.title h1{
	text-align:center;
}
.right .content{
	width:80%;
	margin: auto;
	position:absolute;
}
.content p{
	padding:10px;
	color:white;
	font-size:18px;
}
.content i{
	width:40px;
	font-size:35px;
	text-align:center;
	padding-right:10px;
}







